<div class ="container">
  
  <%= render "users/user", user: @user %>

  <div class ="row justify-content-center mt-5">
    <div class ="col-3">
      <div class ="row">
        <h5 class ="mx-auto"><%= link_to "イベント", user_path(@user), class: "text-secondary no-underline" %></h5>
      </div>
    </div>
    <div class ="col-3">
      <div class ="row">
        <h5 class ="mx-auto"><%= link_to "フォロー", followings_user_path(@user), class: "font-weight-bold text-secondary no-underline" %></h5>
      </div>
    </div>
    <div class ="col-3">
      <div class ="row">
        <h5 class ="mx-auto"><%= link_to "いいね", likes_user_path(@user), class: "text-secondary no-underline" %></h5>
      </div>
    </div>
  </div>
  <hr>
  
  <div class ="row">
    <div class ="col-md-6 col-lg-4 mx-auto">
      <% @user.followings.each do |user| %>
        <div class ="row followings-size mt-4">
          <div class ="col-3">
            <div class ="row">
              <div class ="mx-auto">
                <% if user.image? %>
                  <%= image_tag user.image.url, class: "followings-icon" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class ="col-9">
            <div class="row">
              <div class ="mt-1">
                <%= link_to user_path(user.id), class:"user-btn" do %>
                  <%= user.name %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
  </div>
</div>