<div class ="row mt-4">
  <div class ="col-xl-6 mt-4">
    <div class ="row">
      <div class ="mx-auto">
        <% if @user.image? %>
          <%= image_tag @user.image.url, class: "img-responsive center-block icon" %>
        <% end %>
      </div>
    </div>
    <div class ="row">
      <div class ="mx-auto mt-4">
        <%= link_to edit_user_path, class: "no-underline" do %>
          <div class="border my-btn"><i class="fas fa-edit mr-1"></i>プロフィールを編集</div>
        <% end %>
      </div>
    </div>
  </div>
  <div class ="col-xl-6 mt-5">
    
    <div class ="row">
      <h1 class ="font-weight-bold mb-4 ml-2"><%= @user.name %></h1>
    </div>
    
    <div class ="row">
      <% if @user.genre.present? %>
        <div class ="col-5 col-md-3 font-weight-bold">ジャンル</div>
        <div class ="col-7 col-md-7"><%= @user.genre %></div>
      <% end %>
    </div>
    
    <div class ="row mt-3">
      <% if @user.place.present? %>
        <div class ="col-5 col-md-3 font-weight-bold">主な活動場所</div>
        <div class ="col-7 col-md-7"><%= @user.place %></div>
      <% end %>
    </div>
    
    <div class ="row mt-4">
      <% if @user.introduction.present? %>
        <div class ="col-xl-10"><%= @user.introduction %></div>
      <% end %>
    </div>
    
  </div>
</div>

<div class ="row justify-content-center mt-5">
  <div class ="col-3">
    <div class ="row">
      <h5 class ="mx-auto"><%= link_to "イベント", user_path(@user), class: "text-secondary no-underline" %></h5>
    </div>
  </div>
  <div class ="col-3">
    <div class ="row">
      <h5 class ="mx-auto"><%= link_to "フォロー", followings_user_path(@user), class: "font-weight-bold text-secondary no-underline" %></h5>
    </div>
  </div>
  <div class ="col-3">
    <div class ="row">
      <h5 class ="mx-auto"><%= link_to "いいね", likes_user_path(@user), class: "text-secondary no-underline" %></h5>
    </div>
  </div>
</div>
<hr>

<div class ="row">
  <div class ="col-md-6 col-lg-4 mx-auto">
    <% @user.followings.each do |user| %>
      <div class ="row followings-size mt-4">
        <div class ="col-3">
          <div class ="row">
            <div class ="mx-auto">
              <% if user.image? %>
                <%= image_tag user.image.url, class: "followings-icon" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class ="col-9">
          <div class="row">
            <div class ="mt-1">
              <%= link_to user_path(user.id), class:"user-btn" do %>
                <%= user.name %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>