<div class ="container">
  
  <%= render "users/user", user: @user %>
  
  <div class ="row justify-content-center mt-5">
    <div class ="col-3">
      <div class ="row">
        <h5 class ="mx-auto"><%= link_to "イベント", user_path(@user), class: "text-secondary no-underline" %></h5>
      </div>
    </div>
    <div class ="col-3">
      <div class ="row">
        <h5 class ="mx-auto"><%= link_to "フォロー", followings_user_path(@user), class: "text-secondary no-underline" %></h5>
      </div>
    </div>
    <div class ="col-3">
      <div class ="row">
        <h5 class ="mx-auto"><%= link_to "いいね", likes_user_path(@user), class: "font-weight-bold text-secondary no-underline" %></h5>
      </div>
    </div>
  </div>
  <hr>
  
  <% @user.like_events.each do |event| %>
    <div class ="row">
      <div class ="col-md-8 mx-auto my-4">
        <div class ="row">
          <div class ="col-lg-5 mb-4">
            <div class ="row">
              <div class ="ml-3">
                <i class="far fa-user-circle fa-2x"></i>
              </div>
              <div class ="ml-3 pt-1">
                <%= link_to user_path(event.user), class:"font-weight-bold font-black no-underline" do %>
                  <h5><%= event.user.name %></h5>
                <% end %>
              </div>
            </div>
            <div class ="row">
              <div class ="mx-auto">
                <%= image_tag event.image.url, class: "img-responsive center-block border events-img-index" %>
              </div>
            </div>
          </div>
          <div class ="col-lg-7 mt-4">
            <div class ="row mb-3">
              <%= link_to event_path(event), class: "font-black font-weight-bold no-underline" do %>
                <h4 class ="ml-5"><%= event.title %></h4>
              <% end %>
            </div>
            <div class ="row">
              <div class ="ml-5 font-weight-bold">種類</div>
              <div class ="ml-2"><%= event.kind %></div>
            </div>
            <div class ="row">
              <div class ="ml-5 font-weight-bold">日時</div>
              <div class ="ml-2"><%= event.event_at.strftime("%m/%d %H:%M~") %></div>
            </div>
            <div class ="row">
              <div class ="ml-5 font-weight-bold">場所</div>
              <div class ="ml-2"><%= event.place %></div>
            </div>
            <div class ="row">
              <div class ="ml-5 font-weight-bold">料金</div>
              <div class ="ml-2"><%= event.price %>円</div> 
            </div>
            <div class ="row">
              <div class ="ml-5 font-weight-bold">ジャンル</div>
              <div class ="ml-2"><%= event.genre %></div>
            </div>
            <div class ="row">
              <div class ="ml-5 mt-4"><%= link_to "詳細はこちら", event_path(event.id), class: "no-underline" %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>